<img src="/static/images/khalifapark.jpg" alt="" />
          <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i> KHALIFA PARK</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="price">$6969.00 <span>$12000.00</span></div>
            <a href="#" class="btn">book now</a>
          </div>