<img src="/static/images/masdarcity.webp" alt="" />
          <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i> MASDAR CITY</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="price">$70.00 <span>$120.00</span></div>
            <a href="#" class="btn">book now</a>
          </div>