<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACCOMODATION</title>
    <link rel="stylesheet" href="/static/css/accomodation.css" />
  </head>

  <body class="class45">
    <img src="/static/images/front3.png" alt="" width="1505" height="500" />

    <label for="Name"></label>
    <input
      type="text"
      class="lala"
      id="Name"
      name="Name"
      placeholder="Where are you going"
    />

    <label for="Name"></label>
    <input type="datetime-local" class="baby" id="Name" name="Name" />

    <label for="Name"></label>
    <input type="datetime-local" class="baby" id="Name" name="Name" />

    <label for="Name">
      <select
        style="width: 300px; min-height: 45px; font-size: 19px"
        class="promax"
      >
        <option>No. of adult-child</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    </label>

    <input
      type="button"
      class="pro"
      style="height: 38px; width: 270px"
      value="Search"
    />

    <h1 class="yeh">Accommodation</h1>
    <pre class="yeah">

      RVP redefines hospitality and introduces a wide range of resorts that
      accommodate all needs. Witness luxurious rooms and suites, enjoy top-notch
      recreational facilities and experience amazing culinary adventures, all
      while you're taking in beautiful vistas and understanding the local
      culture.
    </pre>
    <pre class="yeah">

      Here's our guide to best resorts and hotels.
    </pre>
    <hr color="black" />

    <div class="yahooo"></div>

    <section class="packages" id="packages">
      <h1 class="heading">
        <span>P</span>
        <span>a</span>
        <span>c</span>
        <span>k</span>
        <span>a</span>
        <span>g</span>
        <span>e</span>
        <span>s</span>
      </h1>

      <div class="box-container">
        <div class="box">
          <img src="/static/images/desertsafari.webp" alt="" />
          <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i> DESERT SAFARI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="price">$90.00 <span>$120.00</span></div>
            <a href="#" class="btn">book now</a>
          </div>
        </div>

        <div class="box">
          <img src="/static/images/galleriaonmaryahisland.webp" alt="" />
          <div class="content">
            <h3>
              <i class="fas fa-map-marker-alt"></i>
              GALLERIA MARYAHI ISLAND
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="price">$60.00 <span>$120.00</span></div>
            <a href="#" class="btn">book now</a>
          </div>
        </div>

        <div class="box">
          {{>box}}
        </div>

        <div class="box">
          {{>box2}}
        </div>

        <div class="box">
          <img src="/static/images/beach.jpg" alt="" />
          <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i> BEACH</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="price">$90.00 <span>$120.00</span></div>
            <a href="#" class="btn">book now</a>
          </div>
        </div>

        <div class="box">
          <img src="/static/images/waterworld.jpg" alt="" />
          <div class="content">
            <h3><i class="fas fa-map-marker-alt"></i> WATER WORLD</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="price">$700.00 <span>$120.00</span></div>
            <a href="#" class="btn">book now</a>
          </div>
        </div>
      </div>
    </section>

    <!-- packages section ends -->
  </body>
</html>