
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Around</title>
</head>
<body>
    <script>
    class vishav {

        constructor()
        {
          let p=document.createElement("p");
          let p1=document.createElement("p1");
          let h=document.createElement("h");
          let h1=document.createElement("h1");
          let a6=document.createElement("img");
 
          let body=document.querySelector("body");
          p.innerHTML="Things to do in";
          p1.innerHTML="Abu Dhabi";
          h.innerHTML="From desert dunes to opulent mosques and deluxe urban<br>scenery, this city offers up delightful Arabian treats.";
          h1.innerHTML="Our most recommended things to do in ABU DHABI";
          a6.src="/static/images/front.jpg"; 

          body.append(a6);
          body.append(p);
          body.append(p1);
          body.append(h);
          body.append(h1);
          

          h1.style.position="absolute";
          h1.style.top="580px";
          h1.style.left="40px";
          h1.style.fontSize="30px";
          h1.style.fontFamily="Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif";
          
          h.style.position="absolute";
          h.style.color="white";
          h.style.top="250px";
          h.style.left="150px";
          h.style.fontSize="25px"
          h.style.fontFamily="'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',' Lucida Sans Unicode', Geneva, Verdana, sans-serif";

          p1.style.fontSize="40px";
          p1.style.color="white";
          p1.style.position="absolute";
          p1.style.top="210px";
          p1.style.left="150px";

          p.style.fontSize="25px";
          p.style.color="white";
          p.style.position="absolute";
          p.style.top="165px";
          p.style.left="150px";
          p.style.fontFamily="'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif";

          a6.style.position="absolute";
          a6.style.top="0px";
            a6.style.left="0px";
            // a6.style.borderRadius="15%";
            a6.style.width="1518px";
            a6.style.height="600px";

               
        }
      }

      class visha{
        constructor(){
          let priyansh=document.createElement("priyansh");
          let priyanshjain=document.createElement("priyanshjain");
          let a=document.createElement("img");

          a.src="/static/images/jeep.webp";

          let body=document.querySelector("body");   
          priyansh.innerHTML="Abu Dhabi: Morning Desert <br/>Safari with Camel Ride";
          priyanshjain.innerHTML="Embark on an exciting morning <br>desert safariin the desert<br> surrounding Abu Dhabi";

          body.append(priyansh);
          body.append(priyanshjain);
          body.append(a);

            priyansh.style.position="absolute";
            priyansh.style.top="670px";
            priyansh.style.left="350px";
            priyansh.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
            priyansh.style.fontSize="30px";

            priyanshjain.style.position="absolute";
            priyanshjain.style.top="760px";
            priyanshjain.style.left="350px";
            priyanshjain.style.fontSize="22px";
            priyanshjain.style.fontFamily="'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif";

            a.style.position="absolute";
            a.style.top="650px";
            a.style.left="5px";
            a.style.borderRadius="15%";
            a.style.width="330px";
            a.style.height="220px";

        }
      }

      class vishu {
        constructor(){
            let q1=document.createElement("q1");
            let q2=document.createElement("q2");
            let a1  =document.createElement("img");


            let body=document.querySelector("body");
            q1.innerHTML="Abu Dhabi: Formula has<br> 3000 Driving Experience";
            q2.innerHTML="Before getting into the driver’s seat<br> you’ll be suited up in full race gear and <br>helmet, and receive a technical briefing<br> from your racing coach.";
            a1.src="/static/images/f1.webp";

            body.append(q1);
            body.append(q2);
            body.append(a1);

            q1.style.position="absolute";
            q1.style.top="915px";
            q1.style.left="350px";
            q1.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
            q1.style.fontSize="30px";

            q2.style.position="absolute";
            q2.style.top="1005px";
            q2.style.left="350px";
            q2.style.fontSize="22px";
            q2.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            a1.style.position="absolute";
            a1.style.top="895px";
            a1.style.left="5px";
            a1.style.borderRadius="15%";
            a1.style.width="330px";
            a1.style.height="220px";

        }
        
      }

      class vish {
        constructor(){
            let q3=document.createElement("q3");
            let q4=document.createElement("q4");
            let a2  =document.createElement("img");

            let body=document.querySelector("body");
            q3.innerHTML="Louvre Abu Dhabi: Entry Tickets";
            q4.innerHTML="Experience a major collection of<br> master artworks from around the world.<br> Explore significant classic and modern <br>works which bridge the gap between<br> Western and Eastern art.";
            a2.src="/static/images/pool.webp";

            body.append(q3);
            body.append(q4);
            body.append(a2);

            q3.style.position="absolute";
            q3.style.top="1170px";
            q3.style.left="350px";
            q3.style.fontSize="30px";
            q3.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            q4.style.position="absolute";
            q4.style.top="1220px";
            q4.style.left="350px";
            q4.style.fontSize="22px";
            q4.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            a2.style.position="absolute";
            a2.style.top="1155px";
            a2.style.left="5px";
            a2.style.borderRadius="15%";
            a2.style.width="330px";
            a2.style.height="220px";

        }

    }

    class vis {
        constructor(){
            let q5=document.createElement("q5");
            let q6=document.createElement("q6");
            let a3  =document.createElement("img");

            let body=document.querySelector("body");
            q5.innerHTML="From Dubai: Abu Dhabi Premium Sightseeing Tour";
            q6.innerHTML="Explore the rich past, vibrant present, and thrilling future of Abu Dhabi on a tour of the largest emirate in the UAE.";
            a3.src="/static/images/two.webp";

            body.append(q5);
            body.append(q6);
            body.append(a3);

            q5.style.position="absolute";
            q5.style.top="660px";
            q5.style.left="1150px";
            q5.style.fontSize="30px";
            q5.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            q6.style.position="absolute";
            q6.style.top="760px";
            q6.style.left="1150px";
            q6.style.fontSize="22px";
            q6.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            a3.style.position="absolute";
            a3.style.top="650px";
            a3.style.left="795px";
            a3.style.borderRadius="15%";
            a3.style.width="330px";
            a3.style.height="220px";



        }

    }

    class vi {
        constructor(){
            let q7=document.createElement("q7");
            let q8=document.createElement("q8");
            let a4  =document.createElement("img");

            let body=document.querySelector("body");
            q7.innerHTML="From Dubai: Abu Dhabi Sheikh Zayed Mosque";
            q8.innerHTML="Depart Dubai and journey to the Sheikh Zayed Grand Mosque in Abu Dhabi by modern air-conditioned vehicle.On arrival, marvel at the 8th largest mosque in the world";
            a4.src="/static/images/mosque.webp";

            body.append(q7);
            body.append(q8);
            body.append(a4);

            q7.style.position="absolute";
            q7.style.top="900px";
            q7.style.left="1150px";
            q7.style.fontSize="30px";
            q7.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            q8.style.position="absolute";
            q8.style.top="991px";
            q8.style.left="1150px";
            q8.style.fontSize="22px";
            q8.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            a4.style.position="absolute";
            a4.style.top="895px";
            a4.style.left="795px";
            a4.style.borderRadius="15%";
            a4.style.width="330px";
            a4.style.height="220px";


        }

    }

    class v {
        constructor(){
            let q9=document.createElement("q9");
            let q10=document.createElement("q10");
            let a5  =document.createElement("img");


            let body=document.querySelector("body");
            q9.innerHTML="Mangrove National Park: <br>Self-Drive Speedboat Tour";
            q10.innerHTML="Meet your friendly guide at Anantara <br>Eastern Mangroves, who will show<br> you how to operate your own Rhino<br> Rider speedboat.";
            a5.src="/static/images/enjoy.webp";

            body.append(q9);
            body.append(q10);
            body.append(a5);

            q9.style.position="absolute";
            q9.style.top="1175px";
            q9.style.left="1150px";
            q9.style.fontSize="30px";
            q9.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            q10.style.position="absolute";
            q10.style.top="1255px";
            q10.style.left="1150px";
            q10.style.fontSize="22px";
            q10.style.fontFamily="Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";

            a5.style.position="absolute";
            a5.style.top="1155px";
            a5.style.left="795px";
            a5.style.borderRadius="15%";
            a5.style.width="330px";
            a5.style.height="220px";

        }

    }

      let obj1=new vishav();
      let obj = new vishu();
      let obj2 = new vish();
      let obj3 = new vis();
      let obj4 = new vi();
      let obj5 = new v();
      let obj6 = new visha();

      </script>
</body>
</html>/static