<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GETTING HERE</title>
        <link rel="stylesheet" href="/static/css/gettinghere.css">

    
  </head>
  <style>
    
  </style>

  <body class="bodybg">
     

    <div><img class="image1" src="/static/images/gettinghere.jpg" alt="" /></div>
    <h1 class="h1">Getting Here</h1>
    <div class="p1">
      <b>
        Strategically located at the crossroads of East and <br />
        West, RVP helps you reach major international hubs.</b
      >
    </div>
    <div><img class="get" src="/static/images/Airport.jpeg" alt="" /></div>
    <div class="flight">
      Our agency connects over 160 destinations worldwide,<br />
      and more than 50 international airlines fly here.<br />
      Contact a travel operator or book your flight below
    </div>
    <a href="http://localhost:8080/airportaccess"<button class="button button2">Book Your Flight</button></a>
    <div class="box"></div>
    <h1 class="aboutus">ABOUT US</h1>
    <div class="info">
      Contact us to make your travel arrangement more <br />smoother and as per
      your wish ,to get more info<br />-rmation about any tour you interested in
      .Our<br />
      operators will provide you with at the information <br />about your future
      journey .We aim at providing our<br />
      best and every effort we can give in.
    </div>
    <div><img class="picture" src="/static/images/location.png" alt="" /></div>
    <div><img class="picture2" src="/static/images/call.png" alt="" /></div>
    <div><img class="picture3" src="/static/images/clock.png" alt="" /></div>
    <div class="loc">XYZ , Gurgaon,Haryana 122001</div>
    <div class="call">Call Free -1-888-123-455</div>
    <div class="time">Mon- Sat 8:00 a.m-8:00 pm</div>
    <h4 class="branch">QUICK LINKS</h4>
    <div ><a class="home" href="http://localhost:8080">HOME</a></div>
    <div ><a class="gettingaround" href="http://localhost:8080/gettingaround">GETTING AROUND</a></div>
    <div ><a class="accomodate" href="http://localhost:8080/accomodation" >ACCOMODATION</a></div>
    <div ><a class="airport" href="http://localhost:8080/airportaccess">AIRPORT ACCESS</a></div>
    <!-- <div class="gettingh">GETTING HERE</div> -->
    <h3 class="followus">FOLLOW US</h3>
    <div>
      <a class="insta" href="https://www.instagram.com/runishkarao/"
        >INSTAGRAM</a
      >
      <div>
      <a class="twitter" href="https://www.instagram.com/vishav_garg17/"
        >TWITTER</a
      >
    </div>
    <div>
      <a class="facebook" href="https://www.instagram.com/priyanshjain_23/"
        >FACEBOOK</a
      >
    </div>
  </body>
</html>
